geoalchemy2>=0.18,<1
httpx>=0.28,<1
kex-openapi @ git+https://github.com/digitie/pykex.git@329d5a1219a8f41a83448d619a33fcaf6da23f13
opinet @ git+https://github.com/digitie/pyopinet.git@ee4998eec98deabc69edc40f76fda1aa6ad4519a
psycopg[binary]>=3.3,<4
psycopg2-binary>=2.9,<3
pydantic-settings>=2.12,<3
pykma @ git+https://github.com/digitie/pykma.git@5dcf059e4ec8ea4cecc450d882e13a4f44074ecb
pykrtourapi @ git+https://github.com/digitie/pykrtourapi.git@dc855cb177c9a7842400957f5574760b85e71347
pyproj>=3.7,<4
pyshp>=2.3,<3
shapely>=2.1,<3
